* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f5f6;
}

nav {
  background-color: #fff;
  position: absolute;
}

header {
  background-color: #ecd5e7;
}

header,
#me,
#projects,
#contact,
footer {
  height: 100vh;
}

#me {
  background-color: #abd85d;
}

#projects {
  background-color: #c072ae;
}

#contact {
  background-color: #6b9424;
}

footer {
  background-color: #7f3970;
}

.scroll-snap {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.snap-align {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
