@import "./maps/index";

$font-heading: Oranienbaum, serif;
$font-body: Raleway, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-heading;
}

nav {
  background-color: getColor(main-white);
  position: absolute;
  width: 100%;

  ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  li {
    list-style: none;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: getColor(main-black);
  }
}

p,
button {
  font-family: $font-body;
}

header {
  background-color: getColor(flower-purple-light);
}

header,
#me,
#projects,
#contact,
footer {
  height: 100vh;
}

#me {
  background-color: getColor(plant-green-light);
}

#projects {
  background-color: getColor(flower-purple);
}

#contact {
  background-color: getColor(plant-green);
}

footer {
  background-color: getColor(flower-purple-dark);
}

.scroll-snap {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.snap-align {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
